.main-container {
  @apply relative 
         flex 
         justify-center;
}

.orange-bg {
  @apply h-[95vh] 
         hidden 
         lg:flex 
         min-[1488px]:h-[40rem] 
         min-[1488px]:w-[100%] 
         absolute z-[-2];
}

.child-container {
  @apply w-full 
         bg-[#FFF2E1] 
         lg:bg-transparent 
         min-[1488px]:w-[70rem];
}

.view-containr {
  @apply flex 
         justify-center;
}

.content-container {
  @apply flex 
         pt-[4rem] 
         lg:pt-0 
         flex-col 
         items-center 
         justify-center 
         lg:flex-row 
         lg:items-center 
         lg:justify-between 
         md:h-[42rem] 
         lg:h-[100vh] 
         min-[1488px]:h-[45rem] 
         min-[500px]:w-[30rem] 
         lg:w-full;
}
