.mainContainer {
  @apply mt-[6rem] 
         flex 
         justify-center
         font-[poppins];
}

.childContainer {
  @apply min-[500px]:w-[30rem] 
         min-[1444px]:w-[70rem] 
         lg:w-[100%] 
         flex 
         flex-col 
         lg:flex-row 
         items-center 
         lg:justify-between;
}

.imgContainer {
  @apply h-auto 
         xl:w-[25rem] 
         grid 
         grid-cols-2 
         items-center 
         justify-items-center;
}

.oneDriveIcon {
  @apply h-[5rem] 
         lg:h-[7rem] 
         xl:h-[9rem] 
         w-auto;
}

.dropBoxIcon {
  @apply h-[4.5rem] 
         lg:h-[5rem] 
         xl:h-[6rem] 
         w-auto;
}

.driveIcon {
  @apply h-[4.5rem] 
         lg:h-[5rem] 
         xl:h-[6rem] 
         w-auto 
         mt-[1.5rem];
}

.teamsIcon {
  @apply h-[4.5rem] 
         lg:h-[5rem] 
         xl:h-[6rem] 
         w-auto 
         mt-[1.5rem];
}

.descriptionContainer {
  @apply mt-[3rem] 
         flex 
         flex-col 
         items-center 
         lg:w-[50%] 
         lg:items-start;
}

.integrationsContainer {
  @apply hidden 
         lg:flex 
         lg:items-center;
}

.spanBorder {
  @apply h-[1px] 
         w-[4rem] 
         bg-[#525596] 
         mr-[1.2rem];
}

.integrationsText {
  @apply text-[#525596] 
         font-[400];
}

.titleDescription {
  @apply lg:mt-[1rem] 
         text-[#525596] 
         text-[1.5rem] 
         lg:text-[2rem] 
         font-[600] 
         text-center 
         lg:text-left;
}

.spanText {
  @apply text-[#F48C06];
}

.paragraphDescription {
  @apply text-[#696984] 
         text-center 
         xl:text-[1.2rem] 
         lg:text-left 
         mt-[1rem];
}

.seeAllBtn {
  @apply mt-[2rem] 
         rounded-[2rem] 
         py-[0.7rem] 
         px-[1.5rem] 
         text-[#F48C06] 
         border-[1px] 
         border-solid 
         border-[#F48C06] 
         font-[400] 
         hover:bg-[#F48C06] 
         hover:text-white 
         hover:scale-[1.05] 
         active:scale-[0.99] 
         duration-[0.3s];
}
