.mainContainer {
  @apply mt-[7rem] 
         flex 
         justify-center
         font-[poppins];
}

.childContainer {
  @apply min-[500px]:w-[30rem] 
         min-[1444px]:w-[70rem] 
         lg:w-full;
}

.imgContainer {
  @apply flex 
         flex-col 
         items-center 
         lg:flex-row 
         lg:justify-between;
}

.discussionImg {
  @apply h-[13rem] 
         lg:h-[17rem] 
         xl:h-[23rem] 
         w-auto;
}
