.mainContainer {
  @apply mt-[4rem] 
         md:mt-[7rem] 
         xl:mt-[9rem] 
         mb-[2rem] 
         flex 
         justify-center;
}

.childContainer {
  @apply w-full 
         min-[500px]:w-[30rem] 
         lg:w-full 
         min-[1488px]:w-[70rem] 
         flex 
         items-center 
         justify-center;
}
