.mainContainer {
  @apply mt-[4rem] 
         md:mt-[7rem] 
         xl:mt-[9rem] 
         mb-[2rem] 
         flex
         h-[25rem] 
         justify-center
         pt-[3rem]
         overflow-x-hidden;
}

.childContainer {
  @apply w-full 
         min-[500px]:w-[30rem] 
         lg:w-full 
         min-[1488px]:w-[70rem] 
         flex 
         items-center 
         justify-center;
}

.descriptionContainer {
  @apply flex 
         lg:mr-[3rem] 
         relative 
         flex-col 
         xl:w-[50%] 
         items-center 
         lg:items-start 
         lg:w-[50%]
         xl:mr-[10rem];
}

.bigOrangeIcon {
  @apply hidden 
         xl:flex 
         absolute 
         z-[-1] 
         h-[4rem] 
         top-[-0.7rem] 
         left-[-1rem] 
         w-auto;
}

.titleDescription {
  @apply text-[#2F327D] 
         mb-[1rem] 
         font-[600]
         font-[poppins] 
         text-[1.5rem] 
         text-center 
         lg:text-left 
         lg:text-[2rem];
}

.spanText {
  @apply text-[#F48C06];
}

.paragraphDescription {
  @apply text-[#696984] 
         text-center
         font-[poppins]
         lg:text-[1.2rem] 
         lg:text-left;
}

.btn {
  @apply mt-[1rem] 
       text-[#696984]
         lg:text-[1.2rem] 
         underline 
         hover:text-sky-600;
}

.smOrangeIcon {
  @apply hidden 
         xl:flex 
         absolute 
         top-[80%] 
         right-0;
}

.imgContainer {
  @apply hidden 
         lg:flex 
         lg:w-[43%] 
         rounded-[1rem] 
         h-[20rem] 
         xl:bg-[#171B4180] 
         w-[auto] 
         relative;
}

.blueSquareIcon {
  @apply absolute 
         top-[-1rem] 
         left-[-1rem] 
         z-[-2];
}

.classImg {
  @apply h-[100%] 
         rounded-[1rem] 
         w-[100%] 
         z-[-1]
         absolute;
}

.playBtn {
  @apply absolute 
         top-[40%] 
         left-[40%] 
         hover:scale-[1.05] 
         duration-[0.3s] 
         active:scale-[0.98];
}

.playIcon {
  @apply h-[3.7rem] 
         w-auto 
         mx-[1.5rem];
}

.orangeSquareIcon {
  @apply absolute 
         z-[-2] 
         h-[10rem] 
         w-auto 
         bottom-[-1rem] 
         right-[-1rem];
}
