.mainContainer {
  @apply mt-[4rem] 
         xl:mt-[6rem] 
         flex 
         justify-center;
}

.childContainer {
  @apply min-[500px]:w-[30rem] 
         lg:w-full 
         min-[1488px]:w-[70rem];
}

.descriptionContainer {
  @apply flex 
         flex-col 
         items-center;
}

.titleDescription {
  @apply mb-[1rem] 
         text-[1.5rem] 
         xl:text-[2rem] 
         text-[#2F327D] 
         text-center 
         font-[700]
         font-[poppins];
}

.titleSpan {
  @apply text-[#F48C06];
}

.paragraphDescription {
  @apply text-[#696984] 
         text-center 
         xl:w-[40rem] 
         font-[400]
         font-[poppins] 
         lg:text-[1.2rem];
}

.cardContainer {
  @apply mt-[3rem] 
         xl:mt-[6rem] 
         grid 
         grid-cols-1 
         lg:grid-cols-3 
         justify-end;
}

.cardWrapper {
  @apply relative 
         flex 
         flex-col 
         items-center 
         bg-[#FFFFFF] 
         shadow-[0px_10px_60px_0px_#e2e8f0] 
         mb-[3rem] 
         sm:mr-[1rem] 
         lg:mr-[2.4rem] 
         px-[1.2rem] 
         pt-[3rem] 
         pb-[1rem] 
         lg:pb-[2.5rem] 
         rounded-[1rem];
}

.orangeBg {
  @apply bg-[#F48C06];
}

.dodgerBlueBg {
  @apply bg-[#29B9E7];
}

.blueVioletBg {
  @apply bg-[#5B72EE];
}

.iconContainer {
  @apply absolute 
         top-[-1.6rem] 
         flex 
         justify-center 
         items-center 
         h-[3.2rem] 
         w-[3.2rem] 
         rounded-[100%];
}

.iconStyle {
  @apply h-[1.6rem] 
         w-auto;
}

.cardDescription {
  @apply flex 
         flex-col 
         items-center 
         justify-between 
         h-full;
}

.cardTitle {
  @apply text-[#2F327D] 
         h-[50%] 
         flex 
         justify-center 
         items-center 
         font-[500]
         font-[poppins] 
         text-center 
         lg:text-[1.2rem] 
         lg:mb-[0.5rem] 
         xl:w-[15rem];
}

.cardParagraph {
  @apply h-[50%] 
         hidden 
         lg:flex 
         text-center 
         font-[400]
         font-[poppins] 
         text-[#696984];
}
