.mainContainer {
  @apply mt-[6rem] 
         flex 
         justify-center;
}

.childContainer {
  @apply min-[500px]:w-[30rem] 
         min-[1444px]:w-[70rem] 
         lg:w-[100%] 
         flex 
         items-center 
         flex-col 
         lg:flex-row 
         lg:justify-between
         font-[poppins];
}

.descriptionContainer {
  @apply lg:w-[50%] 
         xl:w-[45%] 
         lg:mr-[4rem];
}

.titleDescription {
  @apply lg:w-[20rem] 
         text-[#2F327D] 
         font-[600] 
         text-[1.5rem] 
         lg:text-[2rem] 
         text-center 
         lg:text-left;
}

.spanText {
  @apply text-[#F48C06];
}

.paragraphDescription {
  @apply mt-[1rem] 
         text-[#696984] 
         lg:text-[1.2rem] 
         text-center 
         lg:text-justify;
}
