.mainContainer {
  @apply mt-[4rem] 
         xl:mt-[9rem] 
         w-full
         flex 
         justify-center 
         mb-[2rem]
         overflow-hidden
         pb-[2rem];
}

.childContainer {
  @apply min-[500px]:w-[30rem]  
         lg:w-[100%];
}

.descriptionContainer {
  @apply flex 
         flex-col 
         items-center;
}

.titleDescription {
  @apply text-[#2F327D] 
         text-[1.5rem] 
         lg:text-[2rem] 
         font-[600]
         font-[poppins] 
         text-center;
}

.spanText {
  @apply text-[#F48C06];
}

.paragraphDescription {
  @apply text-[#696984] 
         text-center 
         mt-[1rem]
         font-[poppins] 
         lg:text-[1.2rem];
}

.featureContainer {
  @apply mt-[3rem] 
         lg:flex
         w-full
         xl:items-center
         xl:justify-center;
}

.imgContainer {
  @apply lg:mr-[3rem]
         xl:mr-[5rem]
         w-[50%] 
         relative;
}

.greenBall {
  @apply hidden 
         lg:block 
         absolute 
         top-[-2rem] 
         h-[auto] 
         w-[5rem] 
         left-[2rem] 
         z-[-1];
}

.blueBall {
  @apply hidden 
         lg:block 
         absolute 
         z-[-1] 
         top-[-2rem] 
         left-[7rem] 
         h-[1rem];
}

.meetingIcon {
  @apply lg:h-[16rem] 
         xl:h-[20rem] 
         lg:w-[auto] 
         w-auto;
}

.redBall {
  @apply hidden 
         lg:block 
         absolute 
         z-[-1] 
         lg:bottom-[5rem] 
         xl:bottom-[-1rem] 
         right-[11rem] 
         h-[1rem];
}

.purpleBall {
  @apply hidden 
         lg:block 
         absolute 
         h-[auto] 
         lg:w-[9rem] 
         xl:w-[11rem] 
         z-[-1] 
         xl:bottom-[-2rem] 
         right-[0.5rem] 
         lg:bottom-[5rem];
}

.featureWrapper {
  @apply mt-[4.4rem] 
         lg:mt-[0rem] 
         lg:w-[40%];
}

.featureTitle {
  @apply text-[#2F327D] 
         hidden 
         lg:block 
         text-center 
         lg:text-left 
         text-[1.3rem] 
         font-[600]
         font-[poppins] 
         lg:text-[1.5rem] 
         xl:w-[30rem];
}

.featureItemsContainer {
  @apply mt-[3rem] 
         lg:mt-[1rem];
}

.featureItemsWrapper {
  @apply relative 
         flex 
         items-center 
         rounded-[1rem] 
         px-[0.5rem] 
         pt-[2.5rem] 
         pb-[1rem] 
         lg:shadow-none 
         shadow-[0px_10px_60px_0px_#e2e8f0] 
         mb-[3rem] 
         lg:mb-[1.5rem] 
         lg:p-0 
         lg:justify-between;
}

.featureIconContainer {
  @apply absolute 
         lg:static 
         rounded-[100%] 
         h-[3.5rem] 
         top-[-1.7rem] 
         left-[40%] 
         w-[3.5rem] 
         bg-[#FBFBFB] 
         flex 
         justify-center 
         items-center 
         shadow-[0px_14px_44px_0px__#0d0f1c1f] 
         lg:h-[3rem] 
         lg:w-[3rem];
}

.featureIcon {
  @apply h-[1.8rem] 
         w-[1.8rem] 
         lg:h-[1.4rem] 
         lg:w-[1.4rem];
}

.featureParagraph {
  @apply lg:w-[85%] 
         lg:text-[1.1rem] 
         text-[#696984] 
         text-center 
         font-[poppins]
         lg:text-left;
}
