.imgRegular {
  display: flex;
  height: 2rem;
  width: auto;
}

.imgHover {
  display: none;
  height: 2rem;
  width: auto;
}

.imgContainer {
  margin: 1rem;
}

.imgContainer:hover .imgRegular {
  display: none;
}

.imgContainer:hover .imgHover {
  display: flex;
}
