.imgRegular {
  display: flex;
  height: 8rem;
  width: auto;
}

.imgHover {
  display: none;
  height: 8rem;
  width: auto;
}

.imgContainer {
  margin: 0 3rem 0 0;
}

.imgContainer:hover .imgRegular {
  display: none;
}

.imgContainer:hover .imgHover {
  display: flex;
}
