.imgRegular {
  display: flex;
  height: 2.3rem;
  width: auto;
}

.imgHover {
  display: none;
  height: 2.3rem;
  width: auto;
}

.imgContainer {
  margin: 1.2rem;
}

.imgContainer:hover .imgRegular {
  display: none;
}

.imgContainer:hover .imgHover {
  display: flex;
}

@media (width <= 688px) {
  .imgRegular {
    height: 1.5rem;
  }

  .imgHover {
    height: 1.5rem;
  }
}
