.nav-container {
  @apply w-full 
         fixed 
         top-0 
         z-20 
         backdrop-blur-md 
         min-[1488px]:flex 
         min-[1488px]:justify-center;
}

.child-container {
  @apply w-full 
         min-[1488px]:w-[70rem];
}

.view-container {
  @apply w-full 
         relative 
         flex 
         items-center 
         justify-between 
         py-[0.5rem] 
         lg:py-[1.5rem];
}

.polygon-img {
  @apply h-[2.9rem] 
         top-[-0.4rem] 
         left-[-1.7rem] 
         absolute z-[-1];
}

.skilline-title {
  @apply font-[700]  
       text-[#113C49] 
         text-[1.5rem];
}

.mobile-ul {
  @apply flex 
         flex-col 
         lg:hidden 
         h-auto 
         w-auto
         rounded-[1rem] 
         duration-[0.3s]
         py-[0.5rem] 
         px-[1rem] 
         absolute
         right-0 
         font-[poppins]
         top-[6rem] 
       bg-[#FFFFFFCC] 
         backdrop-blur-[9px];
}

.false-right {
  @apply right-[-200%];
}

.true-right {
  @apply right-0;
}

.link-text {
  @apply text-[#252641];
}

.mobile-login {
  @apply mr-[1rem] 
         py-[0.5rem] 
         px-[1.2rem] 
         rounded-[2rem] 
         border-none 
         outline 
         outline-1 
         outline-[#F48C06] 
         text-[#252641] 
         bg-[#fff];
}

.mobile-signup {
  @apply bg-[#F48C06] 
         py-[0.5rem] 
         px-[1rem] 
         rounded-[2rem] 
         text-[#FFFFFF];
}

.desktop-ul {
  @apply items-center 
         hidden 
         lg:flex 
         font-[poppins];
}

.dekstop-login {
  @apply text-[#6C6C6C] 
         h-[2.1rem] 
         rounded-[2rem] 
         w-[6rem] 
         flex 
         justify-center 
         items-center 
         bg-white;
}

.dekstop-signup {
  @apply text-[#FFFFFF] 
         h-[2.1rem] 
         rounded-[2rem] 
         w-[6rem] 
         flex 
         justify-center 
         items-center 
         bg-[#F48C06];
}
