.mainContainer {
  @apply mt-[2rem] 
         flex 
         justify-center;
}

.childContainer {
  @apply min-[500px]:w-[30rem] 
         lg:w-full;
}

.descriptionContainer {
  @apply mb-[2rem] 
         flex 
         flex-col 
         items-center;
}

.titleDescription {
  @apply text-center 
       text-[#2F327D] 
         font-[600]
         font-[poppins] 
         text-[1.5rem] 
         lg:text-[2rem];
}

.spanText {
  @apply text-[#F48C06];
}

.paragraphDescription {
  @apply mt-[1rem] 
         text-center 
         text-[#696984] 
         lg:text-[1.2rem] 
         lg:w-[55rem]
         font-[poppins];
}
